1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
import selenium
import pandas as pd1
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [11]:
driver1=webdriver.Chrome()

In [12]:
driver1.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
v_Name=[]
name=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name:
    v_Name.append(i.text)
print(v_Name)
len(v_Name)

['"Baby Shark Dance"[6]', '"Despacito"[9]', '"Johny Johny Yes Papa"[17]', '"Bath Song"[18]', '"Shape of You"[19]', '"See You Again"[22]', '"Wheels on the Bus"[27]', '"Phonics Song with Two Words"[28]', '"Uptown Funk"[29]', '"Learning Colors – Colorful Eggs on a Farm"[30]', '"Gangnam Style"[31]', '"Masha and the Bear – Recipe for Disaster"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Sugar"[39]', '"Counting Stars"[40]', '"Baa Baa Black Sheep"[41]', '"Roar"[42]', '"Lakdi Ki Kathi"[43]', '"Waka Waka (This Time for Africa)"[44]', '"Sorry"[45]', '"Thinking Out Loud"[46]', '"Humpty the train on a fruits ride"[47]', '"Shree Hanuman Chalisa"[48]', '"Dark Horse"[49]', '"Perfect"[50]', '"Let Her Go"[51]', '"Faded"[52]', '"Girls Like You"[53]', '"Lean On"[54]']

30

In [7]:
v_Artist=[]
artist=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for j in artist:
    v_Artist.append(j.text)
print(v_Artist)
len(v_Artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Miroshka TV', 'Psy', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'OneRepublic', 'Cocomelon - Nursery Rhymes', 'Katy Perry', 'Jingle Toons', 'Shakira', 'Justin Bieber', 'Ed Sheeran', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'T-Series Bhakti Sagar', 'Katy Perry', 'Ed Sheeran', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

30

In [8]:
v_Upload=[]
upload=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for k in upload:
    v_Upload.append(k.text)
print(v_Upload)
len(v_Upload)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'June 25, 2018', 'September 5, 2013', 'June 14, 2018', 'June 4, 2010', 'October 22, 2015', 'October 7, 2014', 'January 26, 2018', 'May 10, 2011', 'February 20, 2014', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

30

In [9]:
v_Views=[]
views=driver1.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for l in views:
    v_Views.append(l.text)
print(v_Views)
len(v_Views)

['14.09', '8.38', '6.87', '6.62', '6.20', '6.17', '5.88', '5.70', '5.15', '5.07', '5.05', '4.58', '4.55', '4.34', '4.00', '3.97', '3.96', '3.96', '3.91', '3.85', '3.77', '3.73', '3.73', '3.69', '3.67', '3.67', '3.61', '3.59', '3.56', '3.55']

30

In [12]:
df1=pd1.DataFrame({"Video Name":v_Name,"Artist":v_Artist,"Views in Millions":v_Views,"Upload":v_Upload})
df1

,Video Name,Artist,Views in Millions,Upload
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

In [13]:
df1.to_csv('Most_Viewed_Videos',index=False)

In [15]:
df1=pd1.read_csv('Most_Viewed_Videos')
df1

,Video Name,Artist,Views in Millions,Upload
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
import selenium
from selenium import webdriver
import pandas as pd2
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver2=webdriver.Chrome()

In [16]:
driver2.get("https://www.bcci.tv/")

In [17]:
fixture_button=driver2.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_button.click()

In [19]:
m_series=[]
series=driver2.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for a in series:
    m_series.append(a.text)
print(m_series)
len(m_series)

['ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

7

In [21]:
m_place=[]
place=driver2.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for b in place:
    m_place.append(b.text)
print(m_place)
len(m_place)

['JSCA International Stadium Complex, Ranchi', 'Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

7

In [22]:
m_date=[]
date=driver2.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for c in date:
    m_date.append(c.text)
print(m_date)
len(m_date)

['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

7

In [23]:
m_time=[]
time=driver2.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for d in time:
    m_time.append(d.text)
print(m_time)
len(m_time)

['9:30 AM IST', '9:30 AM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

7

In [24]:
df2=pd2.DataFrame({"Series":m_series,"Place":m_place,"Date":m_date,"Time":m_time})
df2

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [25]:
df2.to_csv('BCCI_Match_Fixtures',index=False)

In [27]:
df2=pd2.read_csv('BCCI_Match_Fixtures')
df2

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [107]:
import selenium
from selenium import webdriver
import pandas as pd3
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [108]:
driver3=webdriver.Chrome()

In [109]:
driver3.get("http://statisticstimes.com/")

In [112]:
economy_button=driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_button.click()

In [113]:
india_economy=driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india_economy.click()

In [114]:
indianstate_gdp=driver3.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
indianstate_gdp.click()

In [115]:
rank =[]
ranks = driver3.find_elements(By.XPATH,'//td[@class="data1"]')
for i, a in enumerate(ranks):
    if i < 33:
        rank.append(a.text)
    else:
        break
print(rank)
len(rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

33

In [116]:
state=[]
states=driver3.find_elements(By.XPATH,'//td[@class="name"]')
for j, b in enumerate(states):
    if j < 33:
        state.append(b.text)
    else:
        break
print(state)
len(state)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

33

In [117]:
gsdp21_22=[]
gsdp1=driver3.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for k, c in enumerate(gsdp1):
    if k<33:
        gsdp21_22.append(c.text)
    else:
        break
print(gsdp21_22)
len(gsdp21_22)

['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

33

In [118]:
gsdp22_23=[]
gsdp2=driver3.find_elements(By.XPATH,'//td[3][@class="data"]')
for l, d in enumerate(gsdp2):
    if l<33:
        gsdp22_23.append(d.text)
    else:
        break
print(gsdp22_23)
len(gsdp22_23)

['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']

33

In [119]:
share21_22=[]
share=driver3.find_elements(By.XPATH,'//td[5][@class="data"]')
for m, e in enumerate(share):
    if m < 33:
        share21_22.append(e.text)
    else:
        break
print(share21_22)
len(share21_22)

['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

33

In [121]:
gdp_billions=[]
billions=driver3.find_elements(By.XPATH,'//td[6][@class="data"]')
for n, f in enumerate(billions):
    if n < 33:
        gdp_billions.append(f.text)
    else:
        break
print(gdp_billions)
len(gdp_billions)

['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

33

In [123]:
df3=pd3.DataFrame({"Ranks":rank,"State":state,"GSDP of 21-22,":gsdp21_22,"GSDP of 22-23":gsdp22_23,"Share of 21-22":share21_22,"GDP in Billions":gdp_billions})
df3

,Ranks,State,"GSDP of 21-22,",GSDP of 22-23,Share of 21-22,GDP in Billions
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

In [124]:
df3.to_csv('State Wise GDP',index=False)

In [125]:
df3=pd3.read_csv('State Wise GDP')
df3

,Ranks,State,"GSDP of 21-22,",GSDP of 22-23,Share of 21-22,GDP in Billions
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [14]:
import selenium
from selenium import webdriver
import pandas as pd4
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver4=webdriver.Chrome()

In [3]:
driver4.get("https://github.com/")

In [4]:
trendingRepository_seemore=driver4.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div/div/div/div/main/div/div/div/feed-container/div[5]/turbo-frame/article/div/div/div[1]/header/a')
trendingRepository_seemore.click()

In [17]:
r_title=[]
title=driver4.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in title:
    r_title.append(i.text)
print(r_title)
len(r_title)

['karpathy / minbpe', 'LargeWorldModel / LWM', 'RVC-Boss / GPT-SoVITS', 'facebookresearch / DiT', 'ChatGPTNextWeb / ChatGPT-Next-Web', 'matter-labs / zksync-era', 'krahets / hello-algo', 'google / magika', 'AUTOMATIC1111 / stable-diffusion-webui', 'jlevy / the-art-of-command-line', 'oddfar / campus-imaotai', 'lizongying / my-tv', 'GopeedLab / gopeed', 'binary-husky / gpt_academic', 'facebookresearch / jepa', 'comfyanonymous / ComfyUI', 'firefly-iii / firefly-iii', 'lllyasviel / stable-diffusion-webui-forge', 'practical-tutorials / project-based-learning', 'facefusion / facefusion', 'zhayujie / chatgpt-on-wechat', 'codecrafters-io / build-your-own-x', 'scroll-tech / contribute-to-scroll', 'I-S00N / I-S00N', 'xtekky / gpt4free']

25

In [6]:
r_links=[]
links=driver4.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for x in links:
    r_links.append(x.get_attribute('href'))
print(r_links)
len(r_links)

['https://github.com/karpathy/minbpe', 'https://github.com/LargeWorldModel/LWM', 'https://github.com/RVC-Boss/GPT-SoVITS', 'https://github.com/facebookresearch/DiT', 'https://github.com/ChatGPTNextWeb/ChatGPT-Next-Web', 'https://github.com/matter-labs/zksync-era', 'https://github.com/krahets/hello-algo', 'https://github.com/google/magika', 'https://github.com/AUTOMATIC1111/stable-diffusion-webui', 'https://github.com/jlevy/the-art-of-command-line', 'https://github.com/oddfar/campus-imaotai', 'https://github.com/lizongying/my-tv', 'https://github.com/GopeedLab/gopeed', 'https://github.com/binary-husky/gpt_academic', 'https://github.com/facebookresearch/jepa', 'https://github.com/comfyanonymous/ComfyUI', 'https://github.com/firefly-iii/firefly-iii', 'https://github.com/lllyasviel/stable-diffusion-webui-forge', 'https://github.com/practical-tutorials/project-based-learning', 'https://github.com/facefusion/facefusion', 'https://github.com/zhayujie/chatgpt-on-wechat', 'https://github.com/codecrafters-io/build-your-own-x', 'https://github.com/scroll-tech/contribute-to-scroll', 'https://github.com/I-S00N/I-S00N', 'https://github.com/xtekky/gpt4free']

25

In [19]:
r_description=[]
for j in r_links:
    driver4.get(j)
    time.sleep(10)
    try:
        description=driver4.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p')
        r_description.append(description.text)
    except NoSuchElementException:
        r_description.append('Not Present')
print(r_description)        
len(r_description)

['Minimal, clean, code for the Byte Pair Encoding (BPE) algorithm commonly used in LLM tokenization.', 'Not Present', '1 min voice data can also be used to train a good TTS model! (few shot voice cloning)', 'Official PyTorch Implementation of "Scalable Diffusion Models with Transformers"', 'A cross-platform ChatGPT/Gemini UI (Web / PWA / Linux / Win / MacOS). 一键拥有你自己的跨平台 ChatGPT/Gemini 应用。', 'zkSync era', '《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++, Java, C#, Go, Swift, JS, TS, Dart, Rust, C, Zig 等语言。English edition ongoing', 'Detect file content types with deep learning', 'Stable Diffusion web UI', 'Master the command line, in one page', 'i茅台app自动预约，每日自动预约，支持docker一键部署', '我的电视 电视直播软件，安装即可使用', 'A modern download manager that supports all platforms. Built with Golang and Flutter.', '为GPT/GLM等LLM大语言模型提供实用化交互接口，特别优化论文阅读/润色/写作体验，模块化设计，支持自定义快捷按钮&函数插件，支持Python和C++等项目剖析&自译解功能，PDF/LaTex论文翻译&总结功能，支持并行问询多种LLM模型，支持chatglm3等本地模型。接入通义千问, deepseekcoder, 讯飞星火, 文心一言, llama2, rwkv, claude2, moss等。', 'PyTorch code and models for V-JEPA self-supervised learning from video.', 'The most powerful and modular stable diffusion GUI, api and backend with a graph/nodes interface.', 'Firefly III: a personal finances manager', 'Not Present', 'Curated list of project-based tutorials', 'Next generation face swapper and enhancer', '基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT3.5/GPT4.0/Claude/文心一言/讯飞星火/通义千问/Gemini/GLM-4/LinkAI，能处理文本、语音和图片，访问操作系统和互联网，支持基于自有知识库进行定制企业智能客服。', 'Master programming by recreating your favorite technologies from scratch.', 'This repository guides developers wanting to contribute to the Scroll ecosystem.', 'Not Present', 'The official gpt4free repository | various collection of powerful language models']

25

In [12]:
r_contributors1=[]
for k1 in r_links:
    driver4.get(k1)
    time.sleep(10)
    try:
        contributors1=driver4.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[5]/div/h2/a/span')
        r_contributors1.append(contributors1.text)
    except NoSuchElementException:
        r_contributors1.append('Not Present')
print(r_contributors1)        
len(r_contributors1)

['Not Present', '3', '46', 'Not Present', '500+', '104', '500+', '9', '524', '167', '9', '7', 'Not Present', '76', '2', '90', '151', 'Not Present', '104', '7', '50', '114', 'Not Present', 'Not Present', '179']

25

In [13]:
r_language=[]
for l in r_links:
    driver4.get(l)
    time.sleep(10)
    try:
        language=driver4.find_element(By.XPATH,'//div[@class="Layout-sidebar"]/div/div[6]/div/ul/li/a/span[1]')
        r_language.append(language.text)
    except NoSuchElementException:
        r_language.append('Not Present')
print(r_language)        
len(r_language)

['Not Present', 'Python', 'Python', 'Not Present', 'TypeScript', 'Rust', 'Java', 'Not Present', 'Python', 'Not Present', 'Java', 'C', 'Not Present', 'Not Present', 'Python', 'Python', 'PHP', 'Not Present', 'Not Present', 'Python', 'Python', 'Not Present', 'Not Present', 'Not Present', 'Not Present']

25

In [21]:
df4=pd4.DataFrame({"Repository_Title":r_title,"Description":r_description,"Contributors1":r_contributors1,"Language":r_language})
df4

,Repository_Title,Description,Contributors1,Language
0,karpathy / minbpe,"Minimal, clean, code for the Byte Pair Encodin...",Not Present,Not Present
1,LargeWorldModel / LWM,Not Present,3,Python
2,RVC-Boss / GPT-SoVITS,1 min voice data can also be used to train a g...,46,Python
3,facebookresearch / DiT,"Official PyTorch Implementation of ""Scalable D...",Not Present,Not Present
4,ChatGPTNextWeb / ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,500+,TypeScript
5,matter-labs / zksync-era,zkSync era,104,Rust
6,krahets / hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",500+,Java
7,google / magika,Detect file content types with deep learning,9,Not Present
8,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,524,Python
9,jlevy / the-art-of-command-line,"Master the command line, in one page",167,Not Present
10,oddfar / campus-imaotai,i茅台app自动预约，每日自动预约，支持docker一键部署,9,Java
11,lizongying / my-tv,我的电视 电视直播软件，安装即可使用,7,C
12,GopeedLab / gopeed,A modern download manager that supports all pl...,Not Present,Not Present
13,binary-husky / gpt_academic,为GPT/GLM等LLM大语言模型提供实用化交互接口，特别优化论文阅读/润色/写作体验，模块...,76,Not Present
14,facebookresearch / jepa,PyTorch code and models for V-JEPA self-superv...,2,Python
15,comfyanonymous / ComfyUI,The most powerful and modular stable diffusion...,90,Python
16,firefly-iii / firefly-iii,Firefly III: a personal finances manager,151,PHP
17,lllyasviel / stable-diffusion-webui-forge,Not Present,Not Present,Not Present
18,practical-tutorials / project-based-learning,Curated list of project-based tutorials,104,Not Present
19,facefusion / facefusion,Next generation face swapper and enhancer,7,Python
20,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,50,Python
21,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,114,Not Present
22,scroll-tech / contribute-to-scroll,This repository guides developers wanting to c...,Not Present,Not Present
23,I-S00N / I-S00N,Not Present,Not Present,Not Present
24,xtekky / gpt4free,The official gpt4free repository | various col...,179,Not Present

In [23]:
df4.to_csv('Trending_Repository',index=False)

In [24]:
df4=pd4.read_csv('Trending_Repository')
df4

,Repository_Title,Description,Contributors1,Language
0,karpathy / minbpe,"Minimal, clean, code for the Byte Pair Encodin...",Not Present,Not Present
1,LargeWorldModel / LWM,Not Present,3,Python
2,RVC-Boss / GPT-SoVITS,1 min voice data can also be used to train a g...,46,Python
3,facebookresearch / DiT,"Official PyTorch Implementation of ""Scalable D...",Not Present,Not Present
4,ChatGPTNextWeb / ChatGPT-Next-Web,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,500+,TypeScript
5,matter-labs / zksync-era,zkSync era,104,Rust
6,krahets / hello-algo,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",500+,Java
7,google / magika,Detect file content types with deep learning,9,Not Present
8,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,524,Python
9,jlevy / the-art-of-command-line,"Master the command line, in one page",167,Not Present
10,oddfar / campus-imaotai,i茅台app自动预约，每日自动预约，支持docker一键部署,9,Java
11,lizongying / my-tv,我的电视 电视直播软件，安装即可使用,7,C
12,GopeedLab / gopeed,A modern download manager that supports all pl...,Not Present,Not Present
13,binary-husky / gpt_academic,为GPT/GLM等LLM大语言模型提供实用化交互接口，特别优化论文阅读/润色/写作体验，模块...,76,Not Present
14,facebookresearch / jepa,PyTorch code and models for V-JEPA self-superv...,2,Python
15,comfyanonymous / ComfyUI,The most powerful and modular stable diffusion...,90,Python
16,firefly-iii / firefly-iii,Firefly III: a personal finances manager,151,PHP
17,lllyasviel / stable-diffusion-webui-forge,Not Present,Not Present,Not Present
18,practical-tutorials / project-based-learning,Curated list of project-based tutorials,104,Not Present
19,facefusion / facefusion,Next generation face swapper and enhancer,7,Python
20,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,50,Python
21,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,114,Not Present
22,scroll-tech / contribute-to-scroll,This repository guides developers wanting to c...,Not Present,Not Present
23,I-S00N / I-S00N,Not Present,Not Present,Not Present
24,xtekky / gpt4free,The official gpt4free repository | various col...,179,Not Present

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [28]:
import selenium
from selenium import webdriver
import pandas as pd5
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [29]:
driver5=webdriver.Chrome()

In [30]:
driver5.get("https:/www.billboard.com/")

In [31]:
charts_button=driver5.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_button.click()

In [32]:
threeline=driver5.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[1]/div[1]/button')
threeline.click()

In [33]:
billboard_hot_100=driver5.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
billboard_hot_100.click()

In [34]:
song_name=[]
name=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for a in name:
    song_name.append(a.text)
print(song_name)
len(song_name)

['Lovin On Me', 'Lose Control', 'Beautiful Things', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Fast Car', 'Agora Hills', 'Flowers', 'Stick Season', 'Water', 'Hiss', 'Redrum', 'Last Night', "Thinkin' Bout Me", 'Paint The Town Red', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Never Lose Me', 'What Was I Made For?', 'Yes, And?', 'Houdini', 'Selfish', 'Pretty Little Poison', 'La Diabla', 'Where The Wild Things Are', 'Everybody', 'Made For Me', 'Vampire', 'The Painter', 'White Horse', 'Rich Baby Daddy', 'On My Mama', 'Exes', 'Wild Ones', 'Feather', 'Dance The Night', 'Bandit', 'Need A Favor', 'Save Me', 'Fukumean', 'Fast Car', 'Lil Boo Thang', 'World On Fire', 'Good Good', 'Truck Bed', 'First Person Shooter', 'Surround Sound', 'Strangers', 'My Love Mine All Mine', 'Spin You Around (1/24)', 'Think U The Shit (Fart)', 'Igual Que Un Angel', 'FTCU', 'Burn It Down', 'La Victima', 'One Of The Girls', 'Nee-nah', 'Murder On The Dancefloor', 'Praise Jah In The Moonlight', 'Act II: Date @ 8', 'Turn The Lights Back On', 'Man Made A Bar', 'One Call', 'You Broke My Heart', "Different 'Round Here", 'Harley Quinn', 'Get In With Me', 'FE!N', 'Bellakeo', '500lbs', 'IDGAF', 'I Can Feel It', '23', 'Prove It', 'Soak City', 'Monaco', "Mamaw's House", "We Don't Fight Anymore", 'Home', 'Standing Next To You', 'Perro Negro', 'Mmhmm', 'Oklahoma Smokeshow', 'My Eyes', 'Coal', 'A Cold Sunday', 'All Of Me', 'N.H.I.E.', "Should've Wore A Bonnet", 'Que Onda', 'Wondering Why', 'Y Lloro', 'Sensational', 'Wildflowers And Wild Horses', 'Worth It', 'Northern Attitude', 'Scared To Start', 'First Love', 'Where It Ends']

100

In [35]:
artist_name=[]
name1=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for b in name1:
    artist_name.append(b.text)
print(artist_name)
len(artist_name)

['Jack Harlow', 'Teddy Swims', 'Benson Boone', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Luke Combs', 'Doja Cat', 'Miley Cyrus', 'Noah Kahan', 'Tyla', 'Megan Thee Stallion', '21 Savage', 'Morgan Wallen', 'Morgan Wallen', 'Doja Cat', 'Taylor Swift', 'Flo Milli', 'Billie Eilish', 'Ariana Grande', 'Dua Lipa', 'Justin Timberlake', 'Warren Zeiders', 'Xavi', 'Luke Combs', 'Nicki Minaj Featuring Lil Uzi Vert', 'Muni Long', 'Olivia Rodrigo', 'Cody Johnson', 'Chris Stapleton', 'Drake Featuring Sexyy Red & SZA', 'Victoria Monet', 'Tate McRae', 'Jessie Murph & Jelly Roll', 'Sabrina Carpenter', 'Dua Lipa', 'Don Toliver', 'Jelly Roll', 'Jelly Roll With Lainey Wilson', 'Gunna', 'Tracy Chapman', 'Paul Russell', 'Nate Smith', 'Usher, Summer Walker & 21 Savage', 'HARDY', 'Drake Featuring J. Cole', 'JID Featuring 21 Savage & Baby Tate', 'Kenya Grace', 'Mitski', 'Morgan Wallen', 'Ice Spice', 'Kali Uchis & Peso Pluma', 'Nicki Minaj', 'Parker McCollum', 'Xavi', 'The Weeknd, Jennie & Lily Rose Depp', '21 Savage, Travis Scott & Metro Boomin', 'Sophie Ellis-Bextor', 'YG Marley', '4Batz', 'Billy Joel', 'Morgan Wallen Featuring Eric Church', 'Rich Amiri', 'Drake', 'Riley Green Featuring Luke Combs', 'Fuerza Regida & Marshmello', 'BossMan Dlow', 'Travis Scott Featuring Playboi Carti', 'Peso Pluma & Anitta', 'Lil Tecca', 'Drake Featuring Yeat', 'Kane Brown', 'Chayce Beckham', '21 Savage & Summer Walker', '310babii', 'Bad Bunny', 'Thomas Rhett Featuring Morgan Wallen', 'Carly Pearce Featuring Chris Stapleton', 'Good Neighbours', 'Jung Kook', 'Bad Bunny & Feid', 'BigXthaPlug', 'Zach Bryan', 'Travis Scott', 'Dylan Gossett', 'Lil Yachty', '21 Savage', '21 Savage & Doja Cat', '21 Savage & Brent Faiyaz', 'Calle 24 x Chino Pacas x Fuerza Regida', 'The Red Clay Strays', 'Junior H', 'Chris Brown Featuring Davido & Lojay', 'Lainey Wilson', 'Offset & Don Toliver', 'Noah Kahan With Hozier', 'Michael Marcagi', 'Oscar Ortiz X Edgardo Nunez', 'Bailey Zimmerman']

100

In [36]:
last_week_rank=[]
lwRank=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for c in lwRank:
    last_week_rank.append(c.text)
print(last_week_rank)
len(last_week_rank)

['2', '4', '8', '3', '10', '6', '5', '20', '7', '32', '12', '11', '1', '9', '14', '15', '13', '21', '18', '31', '17', '30', '19', '27', '22', '33', '26', '28', '46', '44', '25', '29', '50', '54', '35', '36', '43', '-', '41', '49', '39', '-', '38', '48', '42', '51', '45', '47', '55', '52', '24', '37', '34', '40', '60', '53', '58', '56', '57', '74', '59', '-', '64', '79', '61', '66', '62', '-', '81', '63', '68', '65', '73', '75', '70', '69', '67', '84', '80', '77', '94', '83', '78', '86', '99', '87', '-', '72', '71', '76', '82', '90', '85', '-', '96', '100', '97', '-', '91', '-']

100

In [37]:
peak_rank=[]
prank=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for d in prank:
    peak_rank.append(d.text)
print(peak_rank)
len(peak_rank)

['1', '2', '3', '1', '2', '1', '3', '2', '7', '1', '11', '7', '1', '5', '1', '7', '1', '1', '18', '14', '1', '11', '19', '24', '20', '26', '24', '28', '1', '30', '12', '11', '33', '34', '35', '36', '6', '38', '13', '19', '4', '6', '14', '21', '25', '36', '1', '40', '42', '26', '24', '37', '22', '15', '52', '46', '57', '10', '51', '60', '59', '62', '15', '64', '11', '60', '40', '68', '5', '53', '51', '2', '59', '64', '43', '61', '5', '55', '67', '77', '5', '20', '65', '72', '19', '86', '87', '18', '19', '40', '61', '71', '79', '94', '95', '92', '37', '98', '91', '32']

100

In [38]:
weeks_on_board=[]
onboard=driver5.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for e in onboard:
    weeks_on_board.append(e.text)
print(weeks_on_board)
len(weeks_on_board)

['13', '26', '3', '40', '60', '24', '21', '46', '20', '51', '19', '19', '2', '4', '54', '49', '27', '15', '8', '29', '4', '13', '2', '22', '8', '12', '9', '4', '29', '18', '29', '18', '21', '12', '18', '10', '32', '1', '43', '31', '32', '22', '21', '15', '26', '34', '18', '13', '21', '20', '2', '2', '4', '9', '16', '8', '7', '4', '6', '2', '5', '1', '20', '2', '12', '10', '14', '1', '15', '8', '20', '18', '6', '6', '4', '8', '17', '6', '8', '2', '14', '14', '7', '16', '10', '5', '1', '4', '4', '4', '19', '7', '7', '2', '3', '4', '10', '1', '3', '7']

100

In [39]:
df5=pd5.DataFrame({"Song Name":song_name,"Artist Name":artist_name,"Last Week Rank":last_week_rank,"Peak Rank":peak_rank,"Weeks on Board":weeks_on_board})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Lovin On Me,Jack Harlow,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Cruel Summer,Taylor Swift,3,1,40
4,Snooze,SZA,10,2,60
...,...,...,...,...,...
95,Worth It,Offset & Don Toliver,100,92,4
96,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,Scared To Start,Michael Marcagi,-,98,1
98,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,Where It Ends,Bailey Zimmerman,-,32,7

In [41]:
df5.to_csv('Top 100 Songs',index=False)

In [42]:
df5=pd5.read_csv('Top 100 Songs')
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Lovin On Me,Jack Harlow,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Cruel Summer,Taylor Swift,3,1,40
4,Snooze,SZA,10,2,60
...,...,...,...,...,...
95,Worth It,Offset & Don Toliver,100,92,4
96,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,Scared To Start,Michael Marcagi,-,98,1
98,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,Where It Ends,Bailey Zimmerman,-,32,7

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [1]:
import selenium
from selenium import webdriver
import pandas as pd6
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver6=webdriver.Chrome()

In [4]:
driver6.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [5]:
book_name=[]
name=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    book_name.append(i.text)
print(book_name)
len(book_name)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

100

In [6]:
author_name=[]
aname=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for j in aname:
    author_name.append(j.text)
print(author_name)
len(author_name)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

100

In [7]:
volume_sold=[]
sold=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for k in sold:
    volume_sold.append(k.text)
print(volume_sold)
len(volume_sold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

100

In [8]:
b_publisher=[]
publisher=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for l in publisher:
    b_publisher.append(l.text)
print(b_publisher)
len(b_publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

100

In [9]:
b_genre=[]
genre=driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for m in genre:
    b_genre.append(m.text)
print(b_genre)
len(b_genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

100

In [12]:
df6=pd6.DataFrame({"Book Name":book_name,"Author":author_name,"Volume Sold":volume_sold,"Publisher":b_publisher,"Genre":b_genre})
df6

,Book Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [13]:
df6.to_csv('Highest Selling Novels',index=False)

In [14]:
df6=pd6.read_csv('Highest Selling Novels')
df6

,Book Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [74]:
import selenium
from selenium import webdriver
import pandas as pd7
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [75]:
driver7=webdriver.Chrome()

In [76]:
driver7.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [51]:
name=[]
s_name=driver7.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-be6f1408-9 srahg dli-title"]/a/h3')
for i in s_name:
    name.append(i.text)
print(name)
len(name)

['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Homeland', '48. Avatar: The Last Airbender', '49. Brooklyn Nine-Nine', '50. Wednesday']

50

In [52]:
year_span=[] 
yearspan=driver7.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]/span[1]')
for j in yearspan:
    year_span.append(j.text)
print(year_span)
len(year_span)

['2011–2019', '2008–2013', '2016–2025', '1994–2004', '2010–2022', '2010–2017', '2007–2019', '2006–2013', '2005–2014', '2005–2013', '2014–', '2013–2022', '2015–2022', '2019–', '2011–', '2013–', '2004–2010', '2019–', '2013–2020', '2005–2017', '2019–', '2021–', '2016–2022', '2013–2018', '2017–2021', '2004–2012', '2023–', '2013–2023', '2005–2020', '2009–2020', '2011–2019', '2015–2018', '2015–2017', '1999–2007', '2012–2020', '2017–2020', '1989–', '2014–2024', '2015–2019', '2021–2023', '1997–', '2002–2008', '2006–2007', '2014–2023', '2022–', '1999–2025', '2011–2020', '2005–2008', '2013–2021', '2022–']

50

In [67]:
links=[]
link=driver7.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-be6f1408-9 srahg dli-title"]/a')
for z in link:
    links.append(z.get_attribute('href'))
print(links)
len(links)

['https://www.imdb.com/title/tt0944947/?ref_=sr_t_1', 'https://www.imdb.com/title/tt0903747/?ref_=sr_t_2', 'https://www.imdb.com/title/tt4574334/?ref_=sr_t_3', 'https://www.imdb.com/title/tt0108778/?ref_=sr_t_4', 'https://www.imdb.com/title/tt1520211/?ref_=sr_t_5', 'https://www.imdb.com/title/tt1475582/?ref_=sr_t_6', 'https://www.imdb.com/title/tt0898266/?ref_=sr_t_7', 'https://www.imdb.com/title/tt0773262/?ref_=sr_t_8', 'https://www.imdb.com/title/tt0460649/?ref_=sr_t_9', 'https://www.imdb.com/title/tt0386676/?ref_=sr_t_10', 'https://www.imdb.com/title/tt2356777/?ref_=sr_t_11', 'https://www.imdb.com/title/tt2442560/?ref_=sr_t_12', 'https://www.imdb.com/title/tt3032476/?ref_=sr_t_13', 'https://www.imdb.com/title/tt1190634/?ref_=sr_t_14', 'https://www.imdb.com/title/tt2085059/?ref_=sr_t_15', 'https://www.imdb.com/title/tt2861424/?ref_=sr_t_16', 'https://www.imdb.com/title/tt0411008/?ref_=sr_t_17', 'https://www.imdb.com/title/tt8111088/?ref_=sr_t_18', 'https://www.imdb.com/title/tt2306299/?ref_=sr_t_19', 'https://www.imdb.com/title/tt0455275/?ref_=sr_t_20', 'https://www.imdb.com/title/tt5180504/?ref_=sr_t_21', 'https://www.imdb.com/title/tt10919420/?ref_=sr_t_22', 'https://www.imdb.com/title/tt0475784/?ref_=sr_t_23', 'https://www.imdb.com/title/tt1856010/?ref_=sr_t_24', 'https://www.imdb.com/title/tt6468322/?ref_=sr_t_25', 'https://www.imdb.com/title/tt0412142/?ref_=sr_t_26', 'https://www.imdb.com/title/tt3581920/?ref_=sr_t_27', 'https://www.imdb.com/title/tt2560140/?ref_=sr_t_28', 'https://www.imdb.com/title/tt0460681/?ref_=sr_t_29', 'https://www.imdb.com/title/tt1442437/?ref_=sr_t_30', 'https://www.imdb.com/title/tt1632701/?ref_=sr_t_31', 'https://www.imdb.com/title/tt3322312/?ref_=sr_t_32', 'https://www.imdb.com/title/tt2707408/?ref_=sr_t_33', 'https://www.imdb.com/title/tt0141842/?ref_=sr_t_34', 'https://www.imdb.com/title/tt2193021/?ref_=sr_t_35', 'https://www.imdb.com/title/tt5753856/?ref_=sr_t_36', 'https://www.imdb.com/title/tt0096697/?ref_=sr_t_37', 'https://www.imdb.com/title/tt2802850/?ref_=sr_t_38', 'https://www.imdb.com/title/tt4158110/?ref_=sr_t_39', 'https://www.imdb.com/title/tt9140554/?ref_=sr_t_40', 'https://www.imdb.com/title/tt0121955/?ref_=sr_t_41', 'https://www.imdb.com/title/tt0306414/?ref_=sr_t_42', 'https://www.imdb.com/title/tt0877057/?ref_=sr_t_43', 'https://www.imdb.com/title/tt3107288/?ref_=sr_t_44', 'https://www.imdb.com/title/tt11198330/?ref_=sr_t_45', 'https://www.imdb.com/title/tt0182576/?ref_=sr_t_46', 'https://www.imdb.com/title/tt1796960/?ref_=sr_t_47', 'https://www.imdb.com/title/tt0417299/?ref_=sr_t_48', 'https://www.imdb.com/title/tt2467372/?ref_=sr_t_49', 'https://www.imdb.com/title/tt13443470/?ref_=sr_t_50']

50

In [69]:
genre=[]
for k in links:
    driver7.get(k)
    time.sleep(10)
    try:
        genres=driver7.find_element(By.XPATH,'//section[@class="sc-69e49b85-4 ktjuZl"]/div[1]/div[2]/a/span')
        genre.append(genres.text)
    except NoSuchElementException:
        genre.append('Not Present')
print(genre)        
len(genre)

['Action', 'Crime', 'Drama', 'Comedy', 'Drama', 'Crime', 'Comedy', 'Crime', 'Comedy', 'Comedy', 'Crime', 'Crime', 'Crime', 'Action', 'Drama', 'Animation', 'Adventure', 'Action', 'Action', 'Action', 'Action', 'Action', 'Drama', 'Drama', 'Action', 'Drama', 'Action', 'Animation', 'Drama', 'Comedy', 'Comedy', 'Action', 'Biography', 'Crime', 'Action', 'Crime', 'Animation', 'Crime', 'Crime', 'Action', 'Animation', 'Crime', 'Animation', 'Action', 'Action', 'Animation', 'Crime', 'Animation', 'Comedy', 'Comedy']

50

In [73]:
runtime=[]
for l in links:
    driver7.get(l)
    time.sleep(10)
    try:
        runtimes=driver7.find_element(By.XPATH,'//div[@class="sc-69e49b85-0 jqlHBQ"]/ul/li[4]')
        runtime.append(runtimes.text)
    except NoSuchElementException:
        runtime.append('Not Present')
print(runtime)        
len(runtime)

['69h 49m', '45m', '51m', '88h', '44m', '1h 28m', '95h 2m', '55m', '76h 16m', '22m', '55m', '35h 9m', '52h 34m', '1h', '1h', '23m', '90h 45m', '40m', '44m', '44m', '1h', '55m', '1h 2m', '63h 24m', '1h 10m', '129h 48m', '50m', '24m', '44m', '89h 38m', '44m', '54m', '49m', '55m', '42m', '24h 15m', '22m', '53m', '49m', '9h 46m', '22m', '59m', '24m', '43m', '50m', '22m', '55m', '23m', '22m', '45m']

50

In [77]:
ratings=[]
for m in links:
    driver7.get(m)
    time.sleep(10)
    try:
        rating=driver7.find_element(By.XPATH,'//div[@class="sc-3a4309f8-0 bjXIAP sc-69e49b85-1 llNLpA"]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        ratings.append(rating.text)
    except NoSuchElementException:
        ratings.append('Not Present')
print(ratings)        
len(ratings)

['9.2', '9.5', '8.7', '8.9', '8.1', '9.1', '8.2', '8.7', '8.3', '9.0', '8.9', '8.8', '9.0', '8.7', '8.7', '9.1', '8.3', '8.7', '8.5', '8.3', '8.0', '8.0', '8.5', '8.6', '8.2', '8.7', '8.8', '9.1', '8.4', '8.5', '8.4', '8.6', '8.8', '9.2', '7.5', '8.7', '8.7', '8.9', '8.5', '8.2', '8.7', '9.3', '8.9', '7.5', '8.4', '8.2', '8.3', '9.3', '8.4', '8.1']

50

In [62]:
votes1 = driver7.find_elements(By.XPATH, '//div[@class="sc-f24f1c5c-0 cPpOqU"]')
votes = []
for element in votes1:
    text = element.text.strip("Votes")
    votes.append(text)
print(votes)
len(votes)

['2,258,171', '2,105,291', '1,317,361', '1,076,922', '1,069,952', '987,939', '859,679', '758,617', '723,164', '697,770', '639,112', '635,666', '634,902', '632,798', '631,826', '593,374', '589,468', '579,261', '574,982', '574,095', '564,276', '529,792', '529,111', '527,842', '525,613', '503,683', '499,915', '497,119', '478,264', '476,152', '470,898', '470,676', '464,780', '461,409', '444,524', '436,738', '432,522', '415,156', '414,634', '405,668', '402,895', '372,361', '371,714', '366,686', '362,526', '361,560', '358,939', '356,344', '355,438', '352,211']

50

In [78]:
#name=[] year_span=[] genre=[] runtime=[] ratings=[] votes
df8=pd8.DataFrame({"Name":name,"Year span":year_span,"Genre":genre,"Runtime":runtime,"Ratings":ratings,"Votes":votes})
df8

,Name,Year span,Genre,Runtime,Ratings,Votes
0,1. Game of Thrones,2011–2019,Action,69h 49m,9.2,"2,258,171"
1,2. Breaking Bad,2008–2013,Crime,45m,9.5,"2,105,291"
2,3. Stranger Things,2016–2025,Drama,51m,8.7,"1,317,361"
3,4. Friends,1994–2004,Comedy,88h,8.9,"1,076,922"
4,5. The Walking Dead,2010–2022,Drama,44m,8.1,"1,069,952"
5,6. Sherlock,2010–2017,Crime,1h 28m,9.1,"987,939"
6,7. The Big Bang Theory,2007–2019,Comedy,95h 2m,8.2,"859,679"
7,8. Dexter,2006–2013,Crime,55m,8.7,"758,617"
8,9. How I Met Your Mother,2005–2014,Comedy,76h 16m,8.3,"723,164"
9,10. The Office,2005–2013,Comedy,22m,9.0,"697,770"
10,11. True Detective,2014–,Crime,55m,8.9,"639,112"
11,12. Peaky Blinders,2013–2022,Crime,35h 9m,8.8,"635,666"
12,13. Better Call Saul,2015–2022,Crime,52h 34m,9.0,"634,902"
13,14. The Boys,2019–,Action,1h,8.7,"632,798"
14,15. Black Mirror,2011–,Drama,1h,8.7,"631,826"
15,16. Rick and Morty,2013–,Animation,23m,9.1,"593,374"
16,17. Lost,2004–2010,Adventure,90h 45m,8.3,"589,468"
17,18. The Mandalorian,2019–,Action,40m,8.7,"579,261"
18,19. Vikings,2013–2020,Action,44m,8.5,"574,982"
19,20. Prison Break,2005–2017,Action,44m,8.3,"574,095"
20,21. The Witcher,2019–,Action,1h,8.0,"564,276"
21,22. Squid Game,2021–,Action,55m,8.0,"529,792"
22,23. Westworld,2016–2022,Drama,1h 2m,8.5,"529,111"
23,24. House of Cards,2013–2018,Drama,63h 24m,8.6,"527,842"
24,25. Money Heist,2017–2021,Action,1h 10m,8.2,"525,613"
25,26. House,2004–2012,Drama,129h 48m,8.7,"503,683"
26,27. The Last of Us,2023–,Action,50m,8.8,"499,915"
27,28. Attack on Titan,2013–2023,Animation,24m,9.1,"497,119"
28,29. Supernatural,2005–2020,Drama,44m,8.4,"478,264"
29,30. Modern Family,2009–2020,Comedy,89h 38m,8.5,"476,152"
30,31. Suits,2011–2019,Comedy,44m,8.4,"470,898"
31,32. Daredevil,2015–2018,Action,54m,8.6,"470,676"
32,33. Narcos,2015–2017,Biography,49m,8.8,"464,780"
33,34. The Sopranos,1999–2007,Crime,55m,9.2,"461,409"
34,35. Arrow,2012–2020,Action,42m,7.5,"444,524"
35,36. Dark,2017–2020,Crime,24h 15m,8.7,"436,738"
36,37. The Simpsons,1989–,Animation,22m,8.7,"432,522"
37,38. Fargo,2014–2024,Crime,53m,8.9,"415,156"
38,39. Mr. Robot,2015–2019,Crime,49m,8.5,"414,634"
39,40. Loki,2021–2023,Action,9h 46m,8.2,"405,668"
40,41. South Park,1997–,Animation,22m,8.7,"402,895"
41,42. The Wire,2002–2008,Crime,59m,9.3,"372,361"
42,43. Death Note,2006–2007,Animation,24m,8.9,"371,714"
43,44. The Flash,2014–2023,Action,43m,7.5,"366,686"
44,45. House of the Dragon,2022–,Action,50m,8.4,"362,526"
45,46. Family Guy,1999–2025,Animation,22m,8.2,"361,560"
46,47. Homeland,2011–2020,Crime,55m,8.3,"358,939"
47,48. Avatar: The Last Airbender,2005–2008,Animation,23m,9.3,"356,344"
48,49. Brooklyn Nine-Nine,2013–2021,Comedy,22m,8.4,"355,438"
49,50. Wednesday,2022–,Comedy,45m,8.1,"352,211"

In [79]:
df8.to_csv('Most Watched TV Series',index=False)

In [81]:
df8=pd8.read_csv('Most Watched TV Series')
df8

,Name,Year span,Genre,Runtime,Ratings,Votes
0,1. Game of Thrones,2011–2019,Action,69h 49m,9.2,"2,258,171"
1,2. Breaking Bad,2008–2013,Crime,45m,9.5,"2,105,291"
2,3. Stranger Things,2016–2025,Drama,51m,8.7,"1,317,361"
3,4. Friends,1994–2004,Comedy,88h,8.9,"1,076,922"
4,5. The Walking Dead,2010–2022,Drama,44m,8.1,"1,069,952"
5,6. Sherlock,2010–2017,Crime,1h 28m,9.1,"987,939"
6,7. The Big Bang Theory,2007–2019,Comedy,95h 2m,8.2,"859,679"
7,8. Dexter,2006–2013,Crime,55m,8.7,"758,617"
8,9. How I Met Your Mother,2005–2014,Comedy,76h 16m,8.3,"723,164"
9,10. The Office,2005–2013,Comedy,22m,9.0,"697,770"
10,11. True Detective,2014–,Crime,55m,8.9,"639,112"
11,12. Peaky Blinders,2013–2022,Crime,35h 9m,8.8,"635,666"
12,13. Better Call Saul,2015–2022,Crime,52h 34m,9.0,"634,902"
13,14. The Boys,2019–,Action,1h,8.7,"632,798"
14,15. Black Mirror,2011–,Drama,1h,8.7,"631,826"
15,16. Rick and Morty,2013–,Animation,23m,9.1,"593,374"
16,17. Lost,2004–2010,Adventure,90h 45m,8.3,"589,468"
17,18. The Mandalorian,2019–,Action,40m,8.7,"579,261"
18,19. Vikings,2013–2020,Action,44m,8.5,"574,982"
19,20. Prison Break,2005–2017,Action,44m,8.3,"574,095"
20,21. The Witcher,2019–,Action,1h,8.0,"564,276"
21,22. Squid Game,2021–,Action,55m,8.0,"529,792"
22,23. Westworld,2016–2022,Drama,1h 2m,8.5,"529,111"
23,24. House of Cards,2013–2018,Drama,63h 24m,8.6,"527,842"
24,25. Money Heist,2017–2021,Action,1h 10m,8.2,"525,613"
25,26. House,2004–2012,Drama,129h 48m,8.7,"503,683"
26,27. The Last of Us,2023–,Action,50m,8.8,"499,915"
27,28. Attack on Titan,2013–2023,Animation,24m,9.1,"497,119"
28,29. Supernatural,2005–2020,Drama,44m,8.4,"478,264"
29,30. Modern Family,2009–2020,Comedy,89h 38m,8.5,"476,152"
30,31. Suits,2011–2019,Comedy,44m,8.4,"470,898"
31,32. Daredevil,2015–2018,Action,54m,8.6,"470,676"
32,33. Narcos,2015–2017,Biography,49m,8.8,"464,780"
33,34. The Sopranos,1999–2007,Crime,55m,9.2,"461,409"
34,35. Arrow,2012–2020,Action,42m,7.5,"444,524"
35,36. Dark,2017–2020,Crime,24h 15m,8.7,"436,738"
36,37. The Simpsons,1989–,Animation,22m,8.7,"432,522"
37,38. Fargo,2014–2024,Crime,53m,8.9,"415,156"
38,39. Mr. Robot,2015–2019,Crime,49m,8.5,"414,634"
39,40. Loki,2021–2023,Action,9h 46m,8.2,"405,668"
40,41. South Park,1997–,Animation,22m,8.7,"402,895"
41,42. The Wire,2002–2008,Crime,59m,9.3,"372,361"
42,43. Death Note,2006–2007,Animation,24m,8.9,"371,714"
43,44. The Flash,2014–2023,Action,43m,7.5,"366,686"
44,45. House of the Dragon,2022–,Action,50m,8.4,"362,526"
45,46. Family Guy,1999–2025,Animation,22m,8.2,"361,560"
46,47. Homeland,2011–2020,Crime,55m,8.3,"358,939"
47,48. Avatar: The Last Airbender,2005–2008,Animation,23m,9.3,"356,344"
48,49. Brooklyn Nine-Nine,2013–2021,Comedy,22m,8.4,"355,438"
49,50. Wednesday,2022–,Comedy,45m,8.1,"352,211"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [22]:
import selenium
from selenium import webdriver
import pandas as pd8
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [23]:
driver8=webdriver.Chrome()

In [24]:
driver8.get("https://archive.ics.uci.edu/ You")

In [25]:
home_button=driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div/div/div/a[1]')
home_button.click()

In [26]:
viewdataset_button=driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
viewdataset_button.click()

In [28]:
more_rows=driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]')
more_rows.click()

In [29]:
expandall_button=driver8.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
expandall_button.click()

In [46]:
name=[]
name1=driver8.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for a in name1:
    name.append(a.text)
print(name)
len(name)

['Iris', 'Dry Bean Dataset', 'Rice (Cammeo and Osmancik)', 'Heart Disease', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Car Evaluation', 'Bank Marketing', 'Mushroom', 'Abalone', 'Student Performance', 'Census Income', 'Online Retail', 'Automobile', 'Statlog (German Credit Data)', 'Breast Cancer', 'Auto MPG', 'Breast Cancer Wisconsin (Original)', 'Spambase', "Predict students' dropout and academic success", 'Glass Identification']

25

In [31]:
data_type=[]
data=driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for b in data:
    data_type.append(b.text)
print(data_type)
len(data_type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Sequential, Time-Series', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate']

25

In [47]:
task=[]
task1=driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for c in task1:
    task.append(c.text)
print(task)
len(task)

['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification', 'Classification, Clustering', 'Regression', 'Classification', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification']

25

In [33]:
attribute_type=[]
attribute=driver8.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for d in attribute:
    attribute_type.append(d.text)
print(attribute_type)
len(attribute_type)

['Real', 'Integer, Real', 'Real', 'Categorical, Integer, Real', 'Categorical, Integer', 'Real, Integer', 'Integer, Real', 'Real', 'Real', 'Categorical, Integer', 'Categorical', 'Categorical, Integer', 'Categorical', 'Categorical, Integer, Real', 'Integer', 'Categorical, Integer', 'Integer, Real', 'Categorical, Integer, Real', 'Categorical, Integer', 'Categorical', 'Real, Categorical, Integer', 'Integer', 'Integer, Real', 'N/A', 'Real']

25

In [40]:
no_attributes=[]
attributes=driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
for e in attributes:
    no_attributes.append(e.text)
print(no_attributes)
len(no_attributes)

['4 Features', '16 Features', '7 Features', '13 Features', '14 Features', '8 Features', '13 Features', '30 Features', '12 Features', '20 Features', '6 Features', '17 Features', '22 Features', '8 Features', '33 Features', '14 Features', '8 Features', '25 Features', '20 Features', '9 Features', '7 Features', '9 Features', '57 Features', '36 Features', '9 Features']

25

In [39]:
no_instances=[]
instances=driver8.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for f in instances:
    no_instances.append(f.text)
print(no_instances)
len(no_instances)

['150 Instances', '13.61K Instances', '3.81K Instances', '303 Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '1.73K Instances', '45.21K Instances', '8.12K Instances', '4.18K Instances', '649 Instances', '48.84K Instances', '541.91K Instances', '205 Instances', '1K Instances', '286 Instances', '398 Instances', '699 Instances', '4.6K Instances', '4.42K Instances', '214 Instances']

25

In [45]:
year=[]
year1=driver8.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for g in year1:
    year.append(g.text)
print(year)
len(year)

['7/1/1988', '9/14/2020', '10/6/2019', '7/1/1988', '5/1/1996', '8/14/2023', '7/1/1991', '11/1/1995', '10/7/2009', 'N/A', '6/1/1997', '2/14/2012', '4/27/1987', '12/1/1995', '11/27/2014', '5/1/1996', '11/6/2015', '5/19/1987', '11/17/1994', '7/11/1988', '7/7/1993', '7/15/1992', '7/1/1999', '12/13/2021', '9/1/1987']

25

In [41]:
#name=[] data_type=[] task=[] attribute_type=[] no_attributes=[] no_instances=[] year=[]
df8=pd8.DataFrame({"Name":name,"Data Type":data_type,"Task":task,"Attribute Type":attribute_type,"No of Attributes":no_attributes,"No of Instances":no_instances,"Year":year})
df8

,Name,Data Type,Task,Attribute Type,No of Attributes,No of Instances,Year
0,Iris,Tabular,Classification,Real,4 Features,150 Instances,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",16 Features,13.61K Instances,9/14/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,7 Features,3.81K Instances,10/6/2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",13 Features,303 Instances,7/1/1988
4,Adult,Multivariate,Classification,"Categorical, Integer",14 Features,48.84K Instances,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",8 Features,900 Instances,8/14/2023
6,Wine,Tabular,Classification,"Integer, Real",13 Features,178 Instances,7/1/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,30 Features,569 Instances,11/1/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,12 Features,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",20 Features,1 Instances,N/A
10,Car Evaluation,Multivariate,Classification,Categorical,6 Features,1.73K Instances,6/1/1997
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",17 Features,45.21K Instances,2/14/2012
12,Mushroom,Multivariate,Classification,Categorical,22 Features,8.12K Instances,4/27/1987
13,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",8 Features,4.18K Instances,12/1/1995
14,Student Performance,Multivariate,"Classification, Regression",Integer,33 Features,649 Instances,11/27/2014
15,Census Income,Multivariate,Classification,"Categorical, Integer",14 Features,48.84K Instances,5/1/1996
16,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",8 Features,541.91K Instances,11/6/2015
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",25 Features,205 Instances,5/19/1987
18,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",20 Features,1K Instances,11/17/1994
19,Breast Cancer,Multivariate,Classification,Categorical,9 Features,286 Instances,7/11/1988
20,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",7 Features,398 Instances,7/7/1993
21,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,9 Features,699 Instances,7/15/1992
22,Spambase,Multivariate,Classification,"Integer, Real",57 Features,4.6K Instances,7/1/1999
23,Predict students' dropout and academic success,Tabular,Classification,N/A,36 Features,4.42K Instances,12/13/2021
24,Glass Identification,Multivariate,Classification,Real,9 Features,214 Instances,9/1/1987

In [42]:
df8.to_csv('Data on Datasets',index=False)

In [43]:
df8=pd8.read_csv('Data on Datasets')
df8

,Name,Data Type,Task,Attribute Type,No of Attributes,No of Instances,Year
0,Iris,Tabular,Classification,Real,4 Features,150 Instances,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",16 Features,13.61K Instances,9/14/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,7 Features,3.81K Instances,10/6/2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",13 Features,303 Instances,7/1/1988
4,Adult,Multivariate,Classification,"Categorical, Integer",14 Features,48.84K Instances,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",8 Features,900 Instances,8/14/2023
6,Wine,Tabular,Classification,"Integer, Real",13 Features,178 Instances,7/1/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,30 Features,569 Instances,11/1/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,12 Features,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",20 Features,1 Instances,NaN
10,Car Evaluation,Multivariate,Classification,Categorical,6 Features,1.73K Instances,6/1/1997
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",17 Features,45.21K Instances,2/14/2012
12,Mushroom,Multivariate,Classification,Categorical,22 Features,8.12K Instances,4/27/1987
13,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",8 Features,4.18K Instances,12/1/1995
14,Student Performance,Multivariate,"Classification, Regression",Integer,33 Features,649 Instances,11/27/2014
15,Census Income,Multivariate,Classification,"Categorical, Integer",14 Features,48.84K Instances,5/1/1996
16,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",8 Features,541.91K Instances,11/6/2015
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",25 Features,205 Instances,5/19/1987
18,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",20 Features,1K Instances,11/17/1994
19,Breast Cancer,Multivariate,Classification,Categorical,9 Features,286 Instances,7/11/1988
20,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",7 Features,398 Instances,7/7/1993
21,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,9 Features,699 Instances,7/15/1992
22,Spambase,Multivariate,Classification,"Integer, Real",57 Features,4.6K Instances,7/1/1999
23,Predict students' dropout and academic success,Tabular,Classification,NaN,36 Features,4.42K Instances,12/13/2021
24,Glass Identification,Multivariate,Classification,Real,9 Features,214 Instances,9/1/1987