In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: exceptiongroup in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [58]:
#importing required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [59]:
#Checking webdriver is working properly or not
driver=webdriver.Chrome()

In [60]:
#Opening a website's web-page through the driver
driver.get("https://www.shine.com/")

In [62]:
#Using of find_element method for absolute XPATH, to send "Data Analyst" job role as a key value
searchJob=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
searchJob.send_keys('Data Analyst')

In [63]:
#Using of find_element method for absolute XPATH, to send "Bangalore" location as a key value
searchLocation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
searchLocation.send_keys('Bangalore')

In [64]:
#for clicking button I use click() followed by find_element method using absolute XPATH
searchButton=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
searchButton.click()

In [74]:
#Decalring empty sets
job_Title=[]
job_Location=[]
company_Name=[]
experience_Required=[]

In [75]:
#Scraping all job title by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job titles inside their relevant empty set
titleTags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in titleTags[0:11]:
    title=i.text
    job_Title.append(title)
print(len(job_Title))

11

In [76]:
#Scraping all job location by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job locations inside their relevant empty set
locationTags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locationTags[0:11]:
    location=i.text
    job_Location.append(location)

In [77]:
#Scraping all company name by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the company names inside their relevant empty set
companyTags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in companyTags[0:11]:
    company=i.text
    company_Name.append(company)

In [78]:
#Scraping all experience by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the experience inside their relevant empty set
expTags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in expTags[0:11]:
    exp=i.text
    experience_Required.append(exp)

In [79]:
#making data frame by using the datas which are stored inside the empty lists.
df=pd.DataFrame({'Job Name':job_Title,'Location':job_Location,'Company Name':company_Name,'Experience':experience_Required})
df

,Job Name,Location,Company Name,Experience
0,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
1,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
2,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
3,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
4,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 2 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs
10,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [88]:
#importing required libraries
import selenium
import pandas as pd2
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [89]:
#Checking webdriver is working properly or not
driver2=webdriver.Chrome()

In [90]:
#Opening a website's web-page through the driver
driver2.get("https://www.shine.com/")

In [92]:
#Using of find_element method for absolute XPATH, to send "Data Scientist" job role as a key value
searchjob=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
searchjob.send_keys("Data Scientist")

In [93]:
#Using of find_element method for absolute XPATH, to send "Bangalore" job location as a key value
searchlocation=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
searchlocation.send_keys("Bangalore")

In [94]:
#for clicking button I use click() followed by find_element method using absolute XPATH
searchbutton=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
searchbutton.click()

In [95]:
#Decalring empty lists
Job_title=[]
Job_location=[]
Company_name=[]

In [96]:
#scraping all job title by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job titles inside their relevant empty set
titlEtags=driver2.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in titlEtags[0:11]:
    titlE=i.text
    Job_title.append(titlE)

In [97]:
#Scraping all job locations by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job locations inside their relevant empty set
locatioNtags=driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locatioNtags[0:11]:
    locatioN=i.text
    Job_location.append(locatioN)

In [98]:
#Scraping all company names by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the company names inside their relevant empty set
companYtags=driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in companYtags[0:11]:
    companY=i.text
    Company_name.append(companY)

In [101]:
#making data frame by using the datas which are stored inside the empty lists.
df2=pd2.DataFrame({'Job Name':Job_title,'Job Location':Job_location,'Company Name':Company_name})
df2

,Job Name,Job Location,Company Name
0,Data Scientist,Bangalore\n+4,acme services private limited
1,Data Scientist,Bangalore,ltimindtree limited
2,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
3,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
4,Senior Data Scientist,Bangalore\n+1,neostats
5,Lead Data Scientist,Bangalore\n+1,aereo
6,Data Scientist,Bangalore\n+7,people staffing solutions
7,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution
8,Data Scientist,Bangalore\n+2,diraa hr services
9,Pharma Data Scientist,Bangalore\n+4,quiscon biotech
10,Hiring For Data Scientist,Bangalore\n+13,yogita staffing solution

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.

In [129]:
#importing required libraries
import selenium
import pandas as pd3
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [130]:
#Checking webdriver is working properly or not
driver3=webdriver.Chrome()

In [131]:
#Opening a website's web-page through the driver
driver3.get("https://www.shine.com/")

In [132]:
#Using of find_element method for absolute XPATH, to send "Data Scientist" job role as a key value
searchDesignation=driver3.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
searchDesignation.send_keys("Data Scientist")

In [133]:
#for clicking button I use click() followed by find_element method using absolute XPATH
SearchButton=driver3.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
SearchButton.click()

In [134]:
#Using of find_element method for absolute XPATH, to send "Delhi" job location as a key value
SearchLocation=driver3.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
SearchLocation.send_keys("Delhi")

In [135]:
#for clicking button I use click() followed by find_element method using absolute XPATH
SearchLocation=driver3.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
SearchLocation.click()

In [136]:
#for clicking button I use click() followed by find_element method using absolute XPATH
SearchSalary=driver3.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
SearchSalary.click()

In [137]:
#for clicking button I use click() followed by find_element method using absolute XPATH
ShowResult=driver3.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
ShowResult.click()

In [138]:
#Declaring empty sets, where datas are stored
Job_Title=[]
Job_Location=[]
Company_Name=[]
Exp_Required=[]

In [139]:
#Scraping all job titles by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job titles inside their relevant empty set
tItletags=driver3.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in tItletags[0:11]:
    tItle=i.text
    Job_Title.append(tItle)

In [140]:
#Scraping all job locations by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the job locations inside their relevant empty set
lOcationtags=driver3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in lOcationtags[0:11]:
    lOcation=i.text
    Job_Location.append(lOcation)

In [141]:
#Scraping all company names by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the company names inside their relevant empty set
cOmpanytags=driver3.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in cOmpanytags[0:11]:
    cOmpany=i.text
    Company_Name.append(cOmpany)

In [142]:
#Scraping all experience by using find_elements method by using relative XPATH & also use 
#append method inside for loop to store all the experience inside their relevant empty set
eXptags=driver3.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in eXptags[0:11]:
    eXp=i.text
    Exp_Required.append(eXp)

In [143]:
#making data frame by using the datas which are stored inside the empty lists.
df3=pd3.DataFrame({'Job Name':Job_Title,'Location':Job_Location,'Company Name':Company_Name,'Experience':Exp_Required})
df3

,Job Name,Location,Company Name,Experience
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
2,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
3,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
5,Data Modeler,Delhi\n+9,v-tech data outsourcing,0 to 2 Yrs
6,Data Engineer,Delhi\n+9,future solution centre,10 to 20 Yrs
7,Biostatistician,Delhi\n+17,national seeds corporation limited,2 to 7 Yrs
8,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
9,Clinical Document Specialist,Delhi\n+6,techno endura,0 to 1 Yr
10,Document Specialist,Delhi\n+6,techno endura,0 to 1 Yr

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.

In [2]:
#importing required libraries
import selenium
import pandas as pd4
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#Checking webdriver is working properly or not
driver4=webdriver.Chrome()

In [4]:
#Opening a website's web-page through the driver
driver4.get("https://www.flipkart.com/")

In [5]:
#Using of find_element method for absolute XPATH, to send "Sunglasses" item as a key value
search_item=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search_item.send_keys('Sunglasses')

In [7]:
#for clicking button I use click() followed by find_element method using absolute XPATH
search_icon=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_icon.click()

In [24]:
#Declaring empty list, scraping all the brand name from 3 pages by using find_element and find_elements method 
#along with the absolute & relative XPATH.Then storing all the scraped data to that empty list.
brand=[]
for i in range(3):
    print('scraping page', i+1)
    b_name=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for b in b_name:
        brand.append(b.text)
    next_button=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
len(brand)

scraping page 1
scraping page 2
scraping page 3

120

In [25]:
#Declaring empty list, scraping all the item description from 3 pages by using find_element and find_elements method 
#along with the absolute & relative XPATH.Then storing all the scraped data to that empty list.
description=[]
for j in range(3):
    print('scraping page', j+1)
    des=driver4.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for d in des:
        description.append(d.text)
    next_button2=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button2.click()
    time.sleep(3)
len(description)

scraping page 1
scraping page 2
scraping page 3

120

In [26]:
#Declaring empty list, scraping all the item prices from 3 pages by using find_element and find_elements method 
#along with the absolute & relative XPATH.Then storing all the scraped data to that empty list.
price=[]
for k in range(3):
    print('scraping page',k+1)
    paisa=driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in paisa:
        price.append(p.text)
    next_button3=driver4.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button3.click()
    time.sleep(3)
len(price)

scraping page 1
scraping page 2
scraping page 3

120

In [27]:
#making data frame by using the datas which are stored inside the empty lists.
df4=pd4.DataFrame({'Brand Name':brand[:100],'Description':description[:100],'Price':price[:100]})
df4

     Brand Name                                        Description   Price
0        AISLIN  Polarized, UV Protection Rectangular, Wayfarer...    ₹725
1        AISLIN              UV Protection Aviator Sunglasses (60)    ₹745
2   john jacobs  Polarized, UV Protection Clubmaster Sunglasses...  ₹1,989
3        ARICKS  Gradient, Night Vision, Polarized, Photochroma...    ₹289
4        AISLIN  Toughened Glass Lens, UV Protection Aviator, W...    ₹725
..          ...                                                ...     ...
95         IDEE             Polarized Retro Square Sunglasses (52)  ₹1,309
96       AISLIN  Toughened Glass Lens, UV Protection Rectangula...    ₹795
97        NuVew               UV Protection Sports Sunglasses (69)    ₹315
98  john jacobs  Polarized, UV Protection Cat-eye Sunglasses (F...  ₹1,999
99    METRONAUT                             UV Protection Sunglass    ₹259

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYIJLDFV&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=a38892bb-54fc-4e27-af4c-88d8917c4f8a.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=pj0qgnhv8w0000001706160032923&qH=f6cdfdaa9f3c23f3
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [84]:
#importing required libraries
import selenium
import pandas as pd5
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [85]:
#Checking webdriver is working properly or not
driver5=webdriver.Chrome()

In [86]:
#Opening a website's web-page through the driver
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYIJLDFV&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=a38892bb-54fc-4e27-af4c-88d8917c4f8a.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=pj0qgnhv8w0000001706160032923&qH=f6cdfdaa9f3c23f3")

In [87]:
#for clicking button I use click() followed by find_element method using absolute XPATH
rating_reviews=driver5.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
rating_reviews.click()

In [88]:
#Here I declare the empty sets where scraped datas are stored. Then I use for loop for extracting datas from next 10 pages.
#After this I use find_elements method to scrap rate, review & full review along with relative XPATHS.Lastly I use DataFrame to 
#make a dataframe based on scraped data.
Ratings=[]
Review=[]
Freview=[]
for x in range(10):
    #print('scraping page',x+1)
    rate=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for r in rate:
        Ratings.append(r.text)
    #print('scraping page',x+1)
    rev=driver5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for s in rev:
        Review.append(s.text)
    #print('scraping page',x+1)    
    frev=driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]') 
    for t in frev:
        Freview.append(t.text)
    next_button4=driver5.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')[-1]
    next_button4.click()
    time.sleep(3)
#len(Ratings)
#len(Review)
#len(Freview)
df5=pd5.DataFrame({'Rating':Ratings,'Review Summary':Review,'Full Review':Freview})
df5

,Rating,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
96,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
99,5,Classy product,Outstanding performance this phone

Q6:Scrape data forfirst 100 sneakers you find whenyou visit: :https://www.flipkart.com/ and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [110]:
#importing required libraries
import selenium
import pandas as pd6
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [111]:
#Checking webdriver is working properly or not
driver6=webdriver.Chrome()

In [112]:
#Opening a website's web-page through the driver
driver6.get("https://www.flipkart.com/")

In [113]:
#Using of find_element method for absolute XPATH, to send "Sneakers" item as a key value
search_product=driver6.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search_product.send_keys('Sneakers')

In [114]:
#for clicking button I use click() followed by find_element method using absolute XPATH
search_button=driver6.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [115]:
#Here I declare the empty sets where scraped datas are stored. Then I use for loop for extracting datas from next 3 pages.
#After this I use find_elements method to scrap brand,Product description & price along with relative XPATHS.Lastly I use  
#DataFrame to make a dataframe based on scraped data.
brand=[]
description=[]
price=[]
for pages in range(3):
    #print('scraping page',pages+1)
    b_name=driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for c in b_name:
        brand.append(c.text)
    #print('scraping page',pages+1)    
    b_des1=driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    b_des2=driver6.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    for d in b_des1:
        description.append(d.text)
    for e in b_des2:
        description.append(e.text)
    #print('scraping page',pages+1)
    b_price=driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for f in b_price:
        price.append(f.text)
    next_button6=driver6.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')[-1]
    next_button6.click()
    time.sleep(3)
#len(brand)
#len(description)
#len(price)
df6=pd6.DataFrame({'Brand Name':brand[:100],'Product Description':description[:100],'Price':price[:100]})
df6

      Brand Name                                Product Description   Price
0          CLYMB  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹409
1          CLYMB                                 Sneakers For Women    ₹449
2       URBANBOX  Casual Sneakers Colour Blocked Shoes For Boys ...    ₹299
3      Deals4you  Carnival-02 Mens High Top Casual Chunky Sneake...    ₹399
4   Robbie jones  kardam&sons luxury fashionable casual sneaker ...    ₹449
..           ...                                                ...     ...
95          PUMA                        MADRYN 2.O Sneakers For Men  ₹2,763
96      RED TAPE  Sneaker Casual Shoes For Men | Soft Cushion In...  ₹1,389
97          PUMA                         WINSTON-N Sneakers For Men  ₹2,150
98     RUN SEVEN                                 Sneakers For Women    ₹999
99          PUMA  Mens Ultraforce Mid-top Athletic-Inspired Retr...  ₹2,713

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [127]:
#importing required libraries
import selenium
import pandas as pd7
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [128]:
#checking webdriver is properly working or not
driver7=webdriver.Chrome()

In [129]:
#Opening a website's web-page through the driver
driver7.get("https://www.amazon.in/")

In [130]:
#Using of find_element method for absolute XPATH, to send "Laptop" item as a key value
Search_item=driver7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Search_item.send_keys('Laptop')

In [131]:
#for clicking button I use click() followed by find_element method using absolute XPATH
Search_icon=driver7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search_icon.click()

In [132]:
#for clicking button I use click() followed by find_element method using absolute XPATH
Cpu_item=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[19]/span')
Cpu_item.click()

In [134]:
#for clicking button I use click() followed by find_element method using absolute XPATH
Cpu_processor=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[7]/span/span[13]/li/span/a/span')
Cpu_processor.click()

In [135]:
#Declaring empty list, scraping all the titles from that page by using find_elements method along with the relative XPATH.
#Then storing all the scraped data to that empty list.
title=[]
i_title=driver7.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for r in i_title:
    title.append(r.text)
    
#len(title)

In [136]:
#Declaring empty list, scraping all the ratings from that page by using find_elements method along with the relative XPATH.
#Then storing all the scraped data to that empty list.
ratings=[]
i_rating=driver7.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for s in i_rating:
    ratings.append(s.text)
#len(title)

In [137]:
#Declaring empty list, scraping all the prices from that page by using find_elements method along with the relative XPATH.
#Then storing all the scraped data to that empty list.
price=[]
i_price=driver7.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for t in i_price:
    price.append(t.text)
#len(price)

In [138]:
#Then a make a DataFrame using that data which are stored inside the empty lists.
df7=pd7.DataFrame({'Title':title[0:10],'Ratings':ratings[0:10],'Price':price[0:10]})
df7

                                               Title Ratings     Price
0  Travelmate Business Laptop Intel Core i7-11th ...            47,990
1  Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD ...            49,990
2  Predator Helios Neo 16 Gaming Laptop 13Th Gen ...          1,09,990
3  IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inc...            62,990
4  TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, In...            75,990
5  ZBook Studio 12th Gen Intel Core i7-12700H 16i...          2,30,060
6  Vivobook 15, Intel Core i7-12650H 12th Gen, 15...            59,990
7  Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6...            67,490
8  Pavilion 14 11th Gen Intel Core i7 16GB/1TB SS...            84,899
9  Victus Gaming Laptop, 12th Gen Intel Core i7-1...            82,490

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [37]:
#importing required libraries
import selenium
import pandas as pd8
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [38]:
#Checking webdriver is properly working or not.
driver8=webdriver.Chrome()

In [39]:
#Opening a website's web-page through the driver
driver8.get("https://www.azquotes.com/")

In [40]:
#for clicking button I use click() followed by find_element method using absolute XPATH
top_quotes=driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [48]:
#Declaring empty list, scraping all the Quotes & Author names from 10 pages by using find_element and find_elements method 
#along with the absolute & relative XPATH.Then storing all the scraped data to that empty list.
quote=[]
author=[]
for pagess in range(10):
    #print('scraped page',pagess+1)
    quot=driver8.find_elements(By.XPATH,'//a[@class="title"]')
    for q in quot:
        quote.append(q.text)
    auth=driver8.find_elements(By.XPATH,'//div[@class="author"]/a')
    for p in auth:
        author.append(p.text)
    next_page=driver8.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')[-1]
    next_page.click()
    time.sleep(3)
len(quote[:1000])
len(author[:1000])

1000

In [47]:
#Declaring empty list, scraping all the Type of Quotes from 10 pages by using find_element and find_elements method 
#along with the absolute & relative XPATH.Then storing all the scraped data to that empty list.
#Also make a DataFrame by using those datas which are stored inside the empty lists.
quoteT=[]
for pagesss in range(10):
    #print('scraped pages',pagesss+1)
    tquote=driver8.find_elements(By.XPATH,'//div[@class="tags"]')
    for o in tquote:
        quoteT.append(o.text)
    next_pages=driver8.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')[-1]
    next_pages.click()
    time.sleep(3)
len(quoteT[:1000])
df8=pd8.DataFrame({'Quote':quote[:1000],'Author':author[:1000],'Type of Quote':quoteT[:1000]})
df8

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Golda Meir,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"Inspirational, Life, Motivational"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [1]:
#importing required libraries
import selenium
import pandas as pd9
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#Checking webdriver is working properly or not
driver9=webdriver.Chrome()

In [3]:
#Opening a website's web-page through the driver
driver9.get("https://www.jagranjosh.com/")

In [6]:
#for clicking button I use click() followed by find_element method using absolute XPATH
gk=driver9.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
gk.click()

In [8]:
#for clicking button I use click() followed by find_element method using absolute XPATH
pm_poster=driver9.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[7]/div[2]/ul/li[3]/figure/a/span/img')
pm_poster.click()

In [29]:
#Declaring empty list, scraping all the PM Names from that table 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
pm_name=[]
pmname=driver9.find_elements(By.XPATH,'//td[2][@valign="top"]/div')
for u in pmname:
    pm_name.append(u.text)
len(pm_name)

17

In [30]:
#Declaring empty list, scraping all the PM DOB from that table 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
pm_dob=[]
pmdob=driver9.find_elements(By.XPATH,'//td[3][@valign="top"]/div')
for v in pmdob:
    pm_dob.append(v.text)
len(pm_dob)

17

In [31]:
#Declaring empty list, scraping all the PM term of office from that table 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
pm_term=[]
pmterm=driver9.find_elements(By.XPATH,'//td[4][@valign="top"]')
for w in pmterm:
    pm_term.append(w.text)
len(pm_term)

17

In [32]:
#Declaring empty list, scraping all the PM Remarks from that table 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
pm_remark=[]
pmremark=driver9.find_elements(By.XPATH,'//td[5][@valign="top"]')
for x in pmremark:
    pm_remark.append(x.text)
len(pm_remark)

17

In [33]:
#Also make a DataFrame by using those datas which are stored inside the empty lists.
df9=pd9.DataFrame({'PM Name':pm_name,'DOB':pm_dob,'Term Of Office':pm_term,'Remarks':pm_remark})
df9

,PM Name,DOB,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
4,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
5,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
6,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
7,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
8,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
9,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
10,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
11,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
12,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
13,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
14,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
15,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
16,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [62]:
#importing required libraries
import selenium
import pandas as pd10
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [63]:
#checkng webdriver is working properly or not
driver10=webdriver.Chrome()

In [64]:
#Opening a website's web-page through the driver
driver10.get("https://www.motor1.com/")

In [65]:
#Using of find_element method for absolute XPATH, to send "50 most expensive cars" item as a key value
bar_search=driver10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
bar_search.send_keys("50 most expensive cars")
time.sleep(10)

In [66]:
#for clicking button I use click() followed by find_element method using absolute XPATH
icon_search=driver10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
icon_search.click()
time.sleep(10)

In [67]:
#for clicking button I use click() followed by find_element method using absolute XPATH
cars_banner=driver10.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
cars_banner.click()

In [68]:
#Declaring empty list, scraping all the car names from that webpage 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
car_name=[]
carNames=driver10.find_elements(By.XPATH,'//h3[@class="subheader"]')
for f in carNames:
    car_name.append(f.text)
time.sleep(10)    
len(car_name)

51

In [69]:
#Declaring empty list, scraping all the car prices from that webpage 
#by using find_elements method along with the relative XPATH. Then storing all the scraped data to that empty list.
car_price=[]
carPrice=driver10.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p/strong')
for g in carPrice:
    car_price.append(g.text)
time.sleep(10)
len(car_price)

50

In [70]:
#Also make a DataFrame by using those datas which are stored inside the empty lists.
df10=pd10.DataFrame({'Car Name':car_name[:50],'Price':car_price[:50]})
df10

                              Car Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)